* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "clockicons";
  src: url(clockicons.woff2) format("opentype");
}
body {
  width: 100vw;
  height: 100vh;
  background: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clockbody,
#clockset {
  width: 500px;
  height: 400px;
  background: #ecf0f1;
  position: relative;
}
#clockbody {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#clockbody .title {
  position: absolute;
  font-size: 50px;
  font-weight: 200;
  top: 50px;
  display: inline;
}
#clockbody #time,
#clockbody #date {
  color: #555;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clockbody #time {
  width: 100%;
  font-size: 75px;
  font-family: clockicons, sans-serif;
}
#clockbody #date {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  font-size: 25px;
}
#clockbody .btn-clock {
  position: absolute;
  bottom: 30px;
  transition: 5s;
}
#clockbody .btn-clock button {
  background-color: #27ae60;
  padding: 10px;
  border: #27ae60;
  color: #fff;
  cursor: pointer;
}
#clockset {
  flex-direction: column;
  display: none;
}
#clockset .set-title {
  background: #3498db;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}
#clockset .set-main {
  flex: 1;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#clockset .set-main .settime {
  display: flex;
  justify-content: center;
  padding: 15px;
}
#clockset .set-main .settime .timeitem {
  margin-right: 10px;
}
#clockset .set-main .settime .timeitem input {
  width: 120px;
  height: 25px;
  border: 0;
}
#clockset .set-main .music {
  padding: 15px;
  position: relative;
}
#clockset .set-main .music select {
  margin-top: 10px;
  width: 100px;
  height: 25px;
}
#clockset .set-main .music .file {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
#clockset .set-main .music .file audio {
  flex: 1;
}
#clockset .set-bottom {
  text-align: right;
  padding: 5px;
}
#clockset .set-bottom button {
  padding: 10px 30px;
  border: #27ae60;
  cursor: pointer;
}
#clockset .set-bottom button:nth-of-type(1) {
  color: #555;
  background: #bdc3c7;
  margin-right: 10px;
}
#clockset .set-bottom button:nth-of-type(2) {
  color: #fff;
  background-color: #27ae60;
}
